// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




//所有的标头文字剧中
.toolbar-title-md{
  text-align:center !important;
}
.back-button.show-back-button{
  position: absolute;
  z-index:4;
}



//自定义icon
ion-icon {  
    &[class*="appname-"] {  
        // Instead of using the font-based icons  
        // We're applying SVG masks  
        -webkit-mask-size:  contain;  
        -webkit-mask-repeat: no-repeat;  
        // mask-position: 50% 50%;          
        background: currentColor;  
        width: 1em;  
        height: 1em;  
    }  
    // custom icons  
    &[class*="appname-home"] {  
        -webkit-mask-image: url(../assets/fonts/home.svg);  
        
    }  
    &[class*="appname-faxian"] {  
        -webkit-mask-image: url(../assets/fonts/faxian.svg);  
       
    }  
    &[class*="appname-tuijian"] {  
        -webkit-mask-image: url(../assets/fonts/tuijian.svg);
        
    }  
    &[class*="appname-gerenzhongxin"] {  
        -webkit-mask-image: url(../assets/fonts/gerenzhongxin.svg);  
       
}  
}